<%- include("partials/header"); -%>
<div class="main">
    <h1>application now</h1>
    <div class="form">
        <form action="/" method="post">
            <label for="username" class="label">email: </label><input type="email" name="email" class="form-control" id="email"  placeholder="email@mail.com" />
            <label for="password" class="label">password: </label><input type="password" name="password" class="form-control" id="password" placeholder="Enter Password" />
            <br /><br />
            <i class="fa fa-exclamation-triangle" style="background-color: rgba(49, 46, 46, 0.867);" aria-hidden="true"></i>
            <span style="color: #dd4949;">Please note that email and password are case sensitive, so remember your data.</span> <br /><br />
            <button type="submit" class="btn btn-sm bg-secondary">apply</button>
        </form>
    </div>
</div>
<%- include("partials/footer"); -%>