<%- include("partials/header"); -%>
<div class="main">
    <h1>application now</h1>
    <div class="form">
        <form action="/" method="post">
            <label for="username" class="label">username</label><input type="email" name="email" class="form-control" id="email"  placeholder="enter email" />
            <label for="password" class="label">password</label><input type="password" name="password" class="form-control" id="password" placeholder="enter password" />
            <button type="submit" class="btn btn-sm bg-secondary">apply</button>
        </form>
    </div>
</div>
<%- include("partials/footer"); -%>