<%- include("partials/header"); -%>
<div class="main">
    <h1>make enquires now</h1>
    <div class="form">
        <form action="/" method="post">
            <label for="username" class="label">email</label><input type="email" name="email" class="form-control" id="email"  placeholder="asdfghjkl@zxc.qwe" />
            <label for="enquires" class="label">content</label><textarea name="content" id="content" class="form-control" cols="30" rows="10" placeholder="drop enquires texts"></textarea>
            <button type="submit" class="btn btn-sm bg-secondary">send</button>
        </form>
    </div>
</div>
<%- include("partials/footer"); -%>