<%- include("partials/header"); -%>
    <main>
        <div class="container">
            <div class="card">
                <h2 class="card-head">Registered email</h2>
                <h3 class="card-title">Registered id</h3>
                <p class="card-body danger">Please take note of student-Id</p>
                <div class="form">
                    <form action="/" method="post">
                        <button type="submit">download login details</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
<%- include("partials/footer"); -%>