<%- include("partials/header"); -%>
<div class="main">
    <h1>login now</h1>
    <div class="form">
        <form action="/" method="post">
            <label for="username" class="label">student id</label><input type="text" name="studentid" class="form-control" id="email"  placeholder="enter email" />
            <label for="password" class="label">password</label><input type="password" name="password" class="form-control" id="password" placeholder="enter password" />
            <button type="submit" class="btn btn-sm bg-secondary">login</button>
        </form>
    </div>
</div>
<%- include("partials/footer"); -%>