/* google font @import for font family('Poppins') */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,500;1,600;1,800;1,900&display=swap");

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' sans-serif;
    box-sizing: border-box;
    border: 0;
}
body{
    width: 100%;
}
div.main{
    margin-top: 4.2rem;
    width: 96%;
}
div a.card-link{
    text-align: right;
    padding-right: 1.122rem;
}
div.footer{
    margin-top: 1.5566rem;
    width: 100%;
    text-align: right;
    background-color: #f5eded;
    margin-right: 3.23rem;
}
span.footer-start{
    display: inline-block;
    text-align: right;
}
div.main h1{
    text-transform: capitalize;
    font-size: 1.45rem;
    font-weight: 400;
}
label.label{
    margin-top: 1rem;
    margin-bottom: calc(1.3rem -14px);
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: 600;
}
input::placeholder{
    text-align: center;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
}
div.form form input{
    text-align: center;
    display: inline-block;
    font-weight: 500;
    font-size: 1.5rem;
}
div.form form button.btn{
    width: 25%;
    text-align: center;
    text-transform: uppercase;
    margin-top: 1rem;
    color: #f5eded;
}
div.form textarea::placeholder{
    align-content: center;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    font-size: 1.67rem;
    font-weight: 700;
    height: -20px;
}
ul.form-list{
    text-decoration-style: none;
    list-style-type: none;
}
label.form-label{
    font-size: 1.2rem;
    font-weight: 400;
    font-style: normal;
    text-transform: capitalize;
}
main.questions{
    align-items: center;
    align-content: center;
    display: block;
    margin-top: 5rem;
}
ul{
    list-style-type: none;
}
ol button, button.print-page-btn{
    display: block;
    float: right;
    width: 33%;
    background-color: #696767;
    color: #f5eded;
    height: calc(2rem - 5px);
    border-radius: 10px;
}
ol button:hover, button.print-page-btn:hover{
    background-color: #000000;
    color: #f5deb3;
}
ol button:active, button.print-page-btn:active{
    background-color: #3cc521;
    color: aliceblue;
}
div#content{
    display: none;
}
div.result-container{
    display: block;
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}