<%- include("partials/header"); -%>
<style>
    span.icon{
        width: 50%;
        height: 5rem;
    }
    main{
        margin-left: 2rem;
        align-items: center;
    }
    div.w3-card-4{
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
</style>

<main>
    <a href="#">
        <div class="w3-card-4 w3-dark">
            <div class="w3-container w3-center">
                <span class=" icon material-symbols-sharp" style="color: #ffd700;">
                    apartment
                    </span>
                <h3>Gold Class Hostel</h3>
                <p>This Apartment to student for the section is ₦180, 000</p>
                <button class="w3-button w3-green">Request</button>
            </div>
        </div>
    </a>
    <a href="#">
        <div class="w3-card-4 w3-dark">
            <div class="w3-container w3-center">
                <span class="material-symbols-sharp icon" style="color: silver;">apartment</span>
                <h3>Silver Class Hostel</h3>
                <p>This Apartment to student for the section is ₦120, 000</p>
                <button class="w3-button w3-green">Request</button>
            </div>
        </div>
    </a>
    <a href="#">
        <div class="w3-card-4 w3-dark">
            <div class="w3-container w3-center">
                <span class="material-symbols-sharp icon" style="color: #db9292;">apartment</span>
                <h3>Broonze Hostel</h3>
                <p>This Apartment to student for the section is ₦80, 000</p>
                <button class="w3-button w3-green">Request</button>
            </div>
        </div>
    </a>
    <a href="#">
        <div class="w3-card-4 w3-dark">
            <div class="w3-container w3-center">
                <span class="material-symbols-sharp" style="color: #bff5f5;">apartment</span>
                <h3>Regular Hostel</h3>
                <p>This Apartment to student for the section is ₦45, 000</p>
                <button class="w3-button w3-green">Request</button>
            </div>
        </div>
    </a>
</main>
<%- include("partials/footer"); -%>
