<%- include("partials/header"); -%>
<main>
    <h2>Application Data</h2>
    <p>Full Name (First name, Last name ,Other name)</p>
    <p>jemiforaugustine@gmail.com</p>
    <p>Application Scores <span>%</span></p>
</main>
<%- include("partials/footer"); -%>