<%- include("partials/header"); -%>
<main>
    <!-- Check Results -->
    <h1>Check Results</h1>
    <table>
        <tr>
            <th>Level</th>
            <th>Year</th>
        </tr>
        <tr>
            <td>100</td>
            <td>Year 1</td>
        </tr>
        <tr>
            <td>200</td>
            <td>Year 2</td>
        </tr>
        <tr>
            <td>300</td>
            <td>Year 3</td>
        </tr>
        <tr>
            <td>400</td>
            <td>Year 4</td>
        </tr>
    </table>
</main>
<%- include("partials/footer"); -%>