<%- include("partials/header"); -%>
<main>
    <!-- Check Results -->
    <h1>Check Results</h1>
    <table>
        <tr>
            <th>Level</th>
            <th>Year</th>
        </tr>
        <tr>
            <td>100</td>
            <td>Year 1</td>
            <tr>
                <table class="w3-table-all w3-centered w3-small w3-striped w3-border">
                        <td class="table-head">Semster</td>
                        <td class="table-head">Code</td>
                        <td class="table-head">Title</td>
                        <td class="table-head">Department</td>
                        <td class="table-head">Faculty</td>
                        <td class="table-head">Credit</td>
                        <td class="table-head">Grade</td>
                        <td class="table-head"><button class="btn-close">
                            <span class="material-symbols-sharp">
                                close
                                </span>
                        </button></td>
                    </th>
                    <div class="show-result-table" id="$100Level-Result">
                        <tr>
                            <td>1st Sem.</td>
                            <td>CHM 111</td>
                            <td>General Chemistry 1</td>
                            <td>Physics</td>
                            <td>Physical Science</td>
                            <td>3</td>
                            <td>B</td>
                        </tr>
                    </div>
                </table>
            </tr>
        </tr>
        <tr>
            <td>200</td>
            <td>Year 2</td>
            <tr>
                <table class="w3-table-all w3-centered w3-small w3-striped w3-border">
                        <td class="table-head">Semster</td>
                        <td class="table-head">Code</td>
                        <td class="table-head">Title</td>
                        <td class="table-head">Department</td>
                        <td class="table-head">Faculty</td>
                        <td class="table-head">Credit</td>
                        <td class="table-head">Grade</td>
                        <td class="table-head"><button class="btn-close">
                            <span class="material-symbols-sharp">
                                close
                                </span>
                        </button></td>
                    </th>
                    <div class="show-result-table"  id="$200Level-Result">
                        <tr>
                            <td>1st Sem.</td>
                            <td>PHY 211</td>
                            <td>Classical Mechanics</td>
                            <td>Physics</td>
                            <td>Physical Science</td>
                            <td>3</td>
                            <td>C</td>
                        </tr>
                    </div>   
                </table>
            </tr>
        </tr>
        <tr>
            <td>300</td>
            <td>Year 3</td>
            <tr>
                <table class="w3-table-all w3-centered w3-small w3-striped w3-border">
                        <td class="table-head">Semster</td>
                        <td class="table-head">Code</td>
                        <td class="table-head">Title</td>
                        <td class="table-head">Department</td>
                        <td class="table-head">Faculty</td>
                        <td class="table-head">Credit</td>
                        <td class="table-head">Grade</td>
                        <td class="table-head"><button class="btn-close">
                            <span class="material-symbols-sharp">
                                close
                                </span>
                        </button></td>
                    </th>
                    <div class="show-result-table"  id="$300Level-Result">
                        <tr>
                            <td>1st Sem.</td>
                            <td>PHY 311</td>
                            <td>Material Science 1</td>
                            <td>Physics</td>
                            <td>Physical Science</td>
                            <td>3</td>
                            <td>C</td>
                        </tr>
                    </div>
                </table>
            </tr>
        </tr>
        <tr>
            <td>400</td>
            <td>Year 4</td>
            <tr>
                <table class="w3-table-all w3-centered w3-small w3-striped w3-border">
                        <td class="table-head">Semster</td>
                        <td class="table-head">Code</td>
                        <td class="table-head">Title</td>
                        <td class="table-head">Department</td>
                        <td class="table-head">Faculty</td>
                        <td class="table-head">Credit</td>
                        <td class="table-head">Grade</td>
                        <td class="table-head"><button class="btn-close" onclick="showData()">
                            <span class="material-symbols-sharp">
                                close
                                </span>
                        </button></td>
                    </th>
                    <div class="show-result-table"  id="$400Level-Result">
                        <tr>
                            <td>1st Sem.</td>
                            <td>PHY 411</td>
                            <td>Material Science 2</td>
                            <td>Physics</td>
                            <td>Physical Science</td>
                            <td>3</td>
                            <td>A</td>
                        </tr>
                    </div>
                </table>
            </tr>
        </tr>
    </table>
</main>
<%- include("partials/footer"); -%>