<%- include("partials/header"); -%>
<main>
    <h1>FirstName LastName OtherName</h1>
    <p>Registeration Date: <span>DD/MM/YYYY</span></p>
    <p>Permanent Address: <span>No. 4 Esiovo Drive Ekete in-land, Udu, Delta State.</span></p>
    <ul>
        <li class="study-details">Certificate: </li>
        <li class="study-details">Entry Mode: </li>
        <li class="study-details">Entry Session: </li>
        <li class="study-details">Current Session: </li>
        <li class="study-details">Study Mode: </li>
        <li class="study-details">Department: </li>
        <li class="study-details">Faculty: </li>
    </ul>
    <button>
        <span class=" icon material-symbols-sharp">
            edit
            </span><b>Edit</b>
    </button>
    <h2>Next Of Kin Details</h2>
    <p>Name of Next of Kin: <span>FirstName LastName</span></p>
    <p>Next of Kin Relationship: <span>Father</span></p>
    <p>Next of Kin Address: <span>Same as above.</span></p>
    <p>Next of kin Phone Number: <span>07032070367</span></p>
    <p>Marital Status: <span>Married</span></p>
    <p>Religion: <span>Christian</span></p>
    <p>Disabled: <span>No</span></p>
    <p>Parent / Guardian E-mail: <span>jemifordickson@gmail.com</span></p>
</main>
<%- include("partials/footer"); -%>