<%- include("partials/header"); -%>
<main>
    <h2>Student Name: Clearence Data</h2>
    <p class="info">Physical Clearance Date: <span></span></p>
    <p class="info">CLR Activation Code: <span>CLR-0-7215910848</span></p>
    <p class="info">Date of Birth: <span>01/08/2008</span></p>
    <p class="info">Nationality: <span>Nigeria</span></p>
    <p class="info">State / LGA: <span>Delta / Udu</span></p>
    <p class="info">Deferment of Admission: <span>No</span></p>
    <!-- Basic School Exam Results -->
    <span><b>First Sitting Record</b></span>
    <p class="info">Full Name: <span>Student Name</span></p>
    <p class="info">Exam Number: <span>50953038IC</span></p>
    <p class="info">Exam Date: <span>01/06/2014</span></p>
    <p class="info">Exam Type: <span>NECO</span></p>
    <p class="info">Exam Result: <span> Mathematics: Credit (C6)</span></p>
    <span><b>Second Sitting Record</b></span>
    <p class="info">Full Name: <span>Student Name</span></p>
    <p class="info">Exam Number: <span>50953038IC</span></p>
    <p class="info">Exam Date: <span>01/06/2014</span></p>
    <p class="info">Exam Type: <span>NECO</span></p>
    <p class="info">Exam Result: <span> Mathematics: Credit (C6)</span></p>

    <!-- Advance Level school Results -->
    <span><b>Advanced Level Record</b></span>
    <p class="info">Full Name: <span>Student Name</span></p>
    <p class="info">Exam Number: <span>50953038IC</span></p>
    <p class="info">Exam Date: <span>01/06/2014</span></p>
    <p class="info">Exam Type: <span>NECO</span></p>
    <p class="info">Exam Result: <span> - </span></p>

    <!-- Basic School Exam Results -->
    <span><b>Advanced Education Record</b></span>
    <p class="info">Qualification Obtained: <span>-</span></p>
    <p class="info">Full Name: <span>-</span></p>
    <p class="info">Former Matric Number: <span>-</span></p>
    <p class="info">Class of Degree: <span>-</span></p>
    <p class="info">Instituition Attended: <span>z</span></p>
    <p class="info">Exam Result: <span> Mathematics: Credit (C6)</span></p>
</main>
<%- include("partials/footer"); -%>