<%- include("partials/header"); -%>
<main>
    <h2>Student Name: Clearence Data</h2>
    <p class="info">Physical Clearance Date: <span></span></p>
    <p class="info">CLR Activation Code: <span>CLR-0-7215910848</span></p>
    <p class="info">Date of Birth: <span>01/08/2008</span></p>
    <p class="info">Nationality: <span>Nigeria</span></p>
    <p class="info">State / LGA: <span>Delta / Udu</span></p>
    <p class="info">Deferment of Admission: <span>No</span></p>
    <!-- Basic School Exam Results -->
    <span><b>First Sitting Record</b></span>
    <p class="info">Full Name: <span>Student Name</span></p>
    <p class="info">Exam Number: <span>50953038IC</span></p>
    <p class="info">Exam Date: <span>01/06/2014</span></p>
    <p class="info">Exam Type: <span>NECO</span></p>
    <p class="info">Exam Result: <span> Mathematics: Credit (C6)</span></p>
    <span><b>Second Sitting Record</b></span>
    <p class="info">Full Name: <span>Student Name</span></p>
    <p class="info">Exam Number: <span>50953038IC</span></p>
    <p class="info">Exam Date: <span>01/06/2014</span></p>
    <p class="info">Exam Type: <span>NECO</span></p>
    <p class="info">Exam Result: <span> Mathematics: Credit (C6)</span></p>

    <!-- Advance Level school Results -->
    <span><b>Advanced Level Record</b></span>
    <p class="info">Full Name: <span>Student Name</span></p>
    <p class="info">Exam Number: <span>50953038IC</span></p>
    <p class="info">Exam Date: <span>01/06/2014</span></p>
    <p class="info">Exam Type: <span>NECO</span></p>
    <p class="info">Exam Result: <span> - </span></p>

    <!-- Basic School Exam Results -->
    <span><b>Advanced Education Record</b></span>
    <p class="info">Qualification Obtained: <span>-</span></p>
    <p class="info">Full Name: <span>-</span></p>
    <p class="info">Former Matric Number: <span>-</span></p>
    <p class="info">Class of Degree: <span>-</span></p>
    <p class="info">Instituition Attended: <span>z</span></p>
    <p class="info">Exam Result: <span> Mathematics: Credit (C6)</span></p>

    <form action="/index/clearance" method="post" style="margin-top: 1.89rem;" class="form">
        <p><b>Upload Files</b></p>
        <ul class="upload-list">
            <li class="list-upload">
                <label for="profile-photo">Profile Photo: </label><input type="file" required name="profile_photo" id="profile-photo" />
            </li>
            <li class="list-upload">
                <label for="jamb-result">Jamb original Result: </label><input type="file" required name="jamb_original_result" id="jamb_original_result" />
            </li>
            <li>
                <label for="jamb-admission-letter">Jamb Addmission Letter: </label><input type="file" required name="jamb_addmission_letter" id="jamb-admission-letter" />
            </li>
            <li class="list-upload">
                <label for="first-result">First Sitting Result: </label><input type="file" name="first_result" id="first_result" />
            </li>
            <li class="list-upload">
                <label for="second-result">Second Sitting Result: </label><input type="file" name="second_result" id="second_result" />
            </li>
            <li class="list-upload">
                <label for="lga-origin">Local Government Of Origin: </label><input type="file" name="lga_origin" required id="lga_origin" />
            </li>
            <li class="list-upload">
                <label for="birth-certificate">Birth Certificate / Age Decleration: </label><input type="file" required name="birth_certificate" id="birth_certificate" />
            </li>
            <button type="submit" class="btn-done">Done<span class="material-symbols-sharp">check_circle</span></button>
        </ul>
    </form>
</main>
<%- include("partials/footer"); -%>